button{
    border: none;
    color:white;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
button:hover{
    cursor: pointer;
}
.buttons-field{
    background-color: black;
    width: 800px;
    display: flex;
}
