.player-button{
    border: none;
    color:white;
    background-color: transparent;
    font-size: large;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 3px ;
    margin-right: 4px;
}

.buttons-field{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 7px;
    margin-top: 5px;
}

.player{
    width: 800px; 
    height: 600px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    background-color: black
}

.video-container{
    flex-grow: 1;
}

.progress-time{
  font-family: "Roboto";
  font-weight: 400;
  color: white;
  margin-left: -5px;
}

.progress-bar{
    padding: 0 2px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: 6px;
}

.progress-slider{
    background-color: red;
    height: 5px;
    border-radius: 3px;
}

.time-panel{
    margin-left: 6px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.progress-indicator{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 3px white;
    opacity: 0;
    transition: 0.3s;
}

.time-panel:hover .progress-indicator{
    opacity: 1;
    transition: 0.3s ;
}